{% extends 'track/base.html' %}
{% block title %} Tracker | Manager Page {% endblock %}

{% block page_header_class %} span10 offset1 {% endblock %}
{% block content_class %} span10 offset1 {% endblock %}
{% block content %}
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="stats">
			<div class="page-header">
				<h2>Daily Requests Counter</h2>
			</div>
			{% for count in buslog-1 %} 
			<!--	<p>BUS : {{ctr.name}}</p> -->
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Bus Number</th>
								<th>Date</th>
								<th>Morning Count </th>
								<th>Evening Count </th>
								<th>Total Count </th>
							</tr>
						</thead>
						<tbody>
							{% for ctr in count %}
								<tr>
									<td> {{ctr.name}}</td>
									<td> {{ctr.date}}</td>
									<td> {{ctr.morning}}</td>
									<td> {{ctr.evening}}</td>
									<td> {{ctr.total}}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
			{% endfor %} 
		</div>
	

	<!--	<h2>Daily Maps Usage</h2>
		<table class="table table-bordered table-striped">
			<thead>
					<tr>
						<th>Date</th>
						<th>Morning Count </th>
						<th>Evening Count </th>
						<th>Total Count </th>
					</tr>
				</thead>
				<tbody>
					{% for count in counter2 %}
					<tr>
						<td> {{count.date}}</td>
						<td> {{count.morning}}</td>
						<td> {{count.evening}}</td>
						<td> {{count.total}}</td>
					</tr>
					{% endfor %}
				</tbody>
		</table> -->
	</div>
</div>
{% endblock %}