{% extends 'track/base.html' %}
{% block title %} Tracker | Manager Page {% endblock %}

{% block page_header_class %} span10 offset1 {% endblock %}
{% block content_class %} span10 offset1 {% endblock %}
{% block content %}
<div class="row-fluid">
	<div class="span10 offset1">
		<div class="stats">
			<div class="page-header">
				<h2>Daily Requests Counter</h2>
			</div>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Morning Count </th>
						<th>Evening Count </th>
						<th>Total Count </th>
					</tr>
				</thead>
				<tbody>
					{% for count in counter %}
					<tr>
						<td> {{count.date}}</td>
						<td> {{count.morning}}</td>
						<td> {{count.evening}}</td>
						<td> {{count.total}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<!--<div class="container row span6"> -->
	<div class="span10 offset1">
		<h2>Daily Maps Usage</h2>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Count</th>
				</tr>
			</thead>
			<tbody>
				{% for count in counter2 %}
				<tr>
					<td>{{count.date}}</td>
					<td>{{count.counter}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}