{% extends 'track/base.html' %}

{% block title %} Tracker | Management {% endblock %}

{% block scripts %}
 	<script src="/static/js/load-maps-for-management-trip.js"></script>	
	
{% endblock %}

{% block css %}

{% endblock %}

{% block head_scripts %}
 <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAEG46KSaG0AtCtflei2Okp3o8nN0Tx5HM&sensor=true">
</script>

{% endblock %}
{% block page_header_class %} span12 {% endblock %}
{% block content_class %} span12 {% endblock %}
{% block content %}
<div class="row-fluid">
	<div class = "span6">
		<div class="well well-small">
			<div id="choosetrip">
				<form>
				Route : <select id=bus>
				{% for route in routes %}
					<option value='{{route.id}}'>{{route.number}}<option>
				{% endfor %}
				</select><br>
				Date :	<p><input type="date" id="tripdate" onblur="alert(this.value)"></p>
				</form>
			</div>
		</div>
	</div>

</div>
{% endblock %}
