{% extends 'track/base.html' %}

{% block title %} Tracker | Management {% endblock %}

{% block scripts %}
	
{% endblock %}

{% block css %}

{% endblock %}

{% block head_scripts %}
  	<script src="/static/js/load-maps-for-management-trip.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAEG46KSaG0AtCtflei2Okp3o8nN0Tx5HM&sensor=true">
</script>
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
	<script>

		$(function(){
			$( "#datepicker" ).datepicker();
		});
	</script>	

{% endblock %}
{% block page_header_class %} span12 {% endblock %}
{% block content_class %} span12 {% endblock %}
{% block content %}
<div class="row-fluid">
	<div class = "span6">
		<div class="well well-small">
			<div id="choosetrip">
				<form>
					<p>Date: <input type="text" id="datepicker" onblur="alert(this.value)" /></p>
				</form>
			</div>
		</div>
	</div>

</div>
{% endblock %}
