{% extends 'base.html' %}
{% block title %} Tracker | About {% endblock %}


{% block page_header_class %} span10 offset1 {% endblock %}
{% block content_class %} span10 offset1 {% endblock %}
{% block content %}
<div class="row-fluid">
	
	<div class="span10 offset1">
		<div class="stats">
			<div class="page-header">
				<h2>About page</h2>
			</div>
			<p>This is a real time bus tracking system for PESIT BSC which monitors buses in real time and provides students/teachers/management with information on the whereabouts of their college bus.</p>
			
			<p>This web app is still in beta so expect a lot of bugs.</p>
			<p>This web app is made in Django (Python Framework).</p>
			<p>This is an open-source project and you can download the source code from the <a href='https://github.com/ali-asgar/cbus-track-django'>Github Repository</a>.</p>
		</div>
	</div>
</div>
{% endblock %}