{% extends 'base_site.html' %}
{% block title %} Tracker {% endblock %}

{% block scripts %}
	<script src="/static/js/load-map.js"></script>
	{#}
	<!-- mousewheel plugin -->
	<script src="/static/js/jquery.mousewheel.min.js"></script>
	<!-- custom scrollbars plugin -->
	<script src="/static/js/jquery.mCustomScrollbar.js"></script>
	#}
	<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
	<script src="/static/js/index-scrollbar.js"></script>
	<script>
		$(function(){
			// Enable pusher logging - don't include this in production
			Pusher.log = function(message) {
				if (window.console && window.console.log) window.console.log(message);
			};

			// Flash fallback logging - don't include this in production
			WEB_SOCKET_DEBUG = true;
		});
	</script>
{% endblock %}

{% block css %}
<!-- stylesheet for demo and examples -->
<style type="text/css">
<!--
	
	/*.stats-table { 
		width:45%;
		position:fixed;
		top:210px;
		bottom: 20px;
		overflow:auto; 
	}*/
	
-->
</style>
{% endblock %}

{% block head_scripts %}
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAEG46KSaG0AtCtflei2Okp3o8nN0Tx5HM&sensor=true">
</script>
{% endblock %}

{% block page_header_class %} span12 {% endblock %}
{% block content_class %} span12 {% endblock %}
{% block content %}
<div class="row-fluid">
	<div class = "span6">
		<div class="well well-small">
			<div id="googleMap" style="width: 100%; height: 380px;"></div>
		</div>
	</div>
	<div class="span6">
		<div class="stats">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Lat</th>
						<th>Lon</th>
						<th>Time</th>
						<th>Speed</th>
						<th>Moved?</th>
					</tr>
				</thead>
				<tbody class="stats-table-body">
					{% load tz %}
					{% for log in logs %} 
					<tr>
						<td>{{log.lat}}</td>
						<td>{{log.lon}}</td>
						<td>{{log.time|utc}}</td>
						<td>{{log.speed}}</td>
					</tr>
					{%endfor%}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}